.git
.github
.env
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
public/build
tmp
output
scripts/__pycache__
storage/app/private/*
storage/framework/testing/*
